body {
    background: #3B4252 ;
    color: #D8DEE9 ;
}

main {
    max-width: 800px ;
    margin: auto ;
}

img {
    max-width: 100% ;
}

header h1 {
    text-align: center ;
    color: #5E81AC ;
}

footer {
    text-align: center ;
    clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
    text-align: center ;
    clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
    float: left ;
    text-align: left ;
}
#nextart {
    float: right ;
    text-align: right ;
}
#nextart,#prevart {
    max-width: 33% ;
}

a:link {
    color: #81A1C1 ;
    text-decoration: underline ;
}

a:visited {
    color: #B48EAD ;
    text-decoration: underline ;
}

a:hover {
    color: #BF616A ;
    text-decoration: underline ;
}

 a:active {
    color: #EBCB8B ;
    text-decoration: underline ;
}

::selection,
::-moz-selection {
  background-color: #4C566A ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #A3BE8C ;
}

blockquote {
    margin: 0 ;
    padding: 0 1em;
    text-align: left ;
    border-left: 0.2em solid #4C566A ;
    color: #616E88 ;
}

pre,
code {
    font-size: 85% ;
    background-color: #2E3440 ;
}

pre {
    padding: 5px ;
    border-radius: 5px ;
    overflow: auto ;
}
